body {
    max-width: 700px;
    padding: 0 30px;
    margin: 60px auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    color: #8359FE;
}

p {
    font-size: 1.5rem;
}

a, a:link, a:visited, a:active {
    cursor: pointer;
    color: #8359FE;
}

/* mouse over link */
a:hover {
    color: #AA8BFF;
}

.testflight {
    height: 1rem;
    /*vertical-align:middle;*/
}
