:root {
  --background: #f2f2f7;
  --brand: #8359fe;
  --white: #fff;
  --black: #000;
  --systemGrey6: #f2f2f7;
  --textPrimary: #000;
  --roomBackground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --systemGrey6: #1c1c1e;
    --textPrimary: #fff;
    --roomBackground: #1c1c1e;
  }
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --brand: color(display-p3 0.5137 0.349 0.9961);
  }
}

@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--textPrimary);
}

@media screen and (min-width: 54em) {
  html {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: -webkit-fill-available;
}

#__next {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.brand-mark {
  height: 4rem;
}

.header {
  margin-top: 2rem;
}

.main {
  padding: 20px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30em;
  margin: 0 auto;
}

.main.is-wide {
  max-width: 48em;
}

p {
  margin: 0;
}

.summary {
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
  margin: 2rem 0;
  color: var(--textPrimary);
}

.button {
  padding: 0.75rem;
  border-radius: 0.9375rem;
  line-height: 2.5rem;
  text-align: center;
  border: none;
  width: 100%;
  white-space: nowrap;
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: 600;
  appearance: none;
  letter-spacing: 0.0225rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--brand);
}

@media screen and (min-width: 32em) {
  .button {
    width: auto;
    padding: 0.75rem 1.875rem;
  }
}

.badge {
  height: 4rem;
  width: 12rem;
  background-image: url("/badge_black.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (prefers-color-scheme: dark) {
  .badge {
    background-image: url("/badge_white.svg");
  }
}

.room {
  width: 100%;
  padding: 1.25rem;
  border-radius: 1.85rem;
  background-color: var(--roomBackground);
  font-family: "SF Rounded Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.room-title {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.27rem;
  letter-spacing: 0.021875rem;
  color: var(--textPrimary);
  margin-bottom: 1.875rem;
}

.room-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-users > :not(template) ~ :not(template) {
  margin-left: -0.5rem;
}

.room-head {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  border-radius: 99999px;
  box-shadow: 0 0 0 0.25rem var(--roomBackground);
}

.room-button {
  border: none;
  padding: 0.5rem 1.25rem;
  background: var(--brand);
  border-radius: 0.9375rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.02375rem;
  color: var(--white);
}

footer {
  padding: 20px;
  max-width: 30em;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: var(--textPrimary);
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.twitter {
  color: #1da1f2;
  height: 2rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 2rem;
}

.twitter img {
  width: 1.5rem;
  height: 1.5rem;
}

.legal p {
  margin-bottom: 1em;
}

.legal li {
  margin-bottom: 1em;
}

.legal ol {
  list-style-type: decimal;
}

.legal ol ol {
  list-style-type: lower-alpha;
}

.legal ol ol ol {
  list-style-type: lower-roman;
}

label {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.38px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: none;
  width: 100%;

  border-radius: 15px;
  background-color: var(--roomBackground);
  padding: 1rem 1.25rem;

  font-size: 20px;
  line-height: 24px;
  font-weight: 500;

  color: var(--textPrimary);
}

textarea {
  resize: vertical;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

select {
  appearance: none;
}

.mb-6 {
  margin-bottom: 1.75rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

label.checkbox {
  display: flex;
  align-items: flex-start;
}

.label.checkbox span {
  flex-grow: 0;
}

input[type="checkbox"] {
  flex-shrink: 0;
  margin-right: 1rem;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
}
