@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f7;
  --brand: #8359fe;
  --white: #fff;
  --black: #000;
  --systemGrey6: #f2f2f7;
  --textPrimary: #000;
  --roomBackground: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --systemGrey6: #1c1c1e;
    --textPrimary: #fff;
    --roomBackground: #1c1c1e;
  }
} */

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --brand: color(display-p3 0.5137 0.349 0.9961);
  }
}

body {
  background-color: var(--background);
  color: var(--textPrimary);
}

.soapbox-mark {
  height: 80px;
}

.room {
  padding: 1.25rem;
  border-radius: 1.85rem;
  background-color: var(--roomBackground);
  font-family: "SF Rounded Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.room-title {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.27rem;
  letter-spacing: 0.021875rem;
  color: var(--textPrimary);
  margin-bottom: 1.875rem;
}

.room-head {
  border-radius: 99999px;
  box-shadow: 0 0 0 0.25rem var(--roomBackground);
}

.room-head > * {
  overflow: visible !important;
}

.room-button {
  border: none;
  padding: 0.5rem 1.25rem;
  background: var(--brand);
  border-radius: 0.9375rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.02375rem;
  color: var(--white);
}

@layer utilities {
  .crop::before,
  .crop::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  .crop::before {
    margin-top: calc((1 - 1.85) * 0.5em);
  }
  .crop::after {
    margin-bottom: calc((1 - 1.85) * 0.5em);
  }
}

@layer components {
  .footer-item {
    @apply mr-4 mb-2;
  }
  .footer-item-link {
    @apply opacity-25 focus:outline-none focus:opacity-75 hover:opacity-75;
  }
}
